# Segredos
.env
*/.env
.masterkey
*/.masterkey

# Python
__pycache__/
*.pyc
venv/
.pytest_cache
.venv


# Go
*.exe
temp/
*/temp
tmp/
*/tmp/

# Editor
.vscode/
.idea/
.claude/

# Logs
*.log

# Sqlite
*.db
*/*.db

# MacOS
.DS_Store